<div class="dashboard" data-isotope='{ "itemSelector": ".widget", "percentPosition": true, "layoutMode": "masonry", "masonry": { "columnWidth": ".grid-sizer"} }'>
    <div class="grid-sizer"></div>
    <!-- ADD YOUR WIDGETS HERE -->
    <div class="widget widget--width3" data-widget id="example-widget" data-shipper="text" data-view="clock"></div>
</div>
